<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Check Your IPs</title>
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">
</head>
<body>
  <hr>
  remote_addr : {{ remoteAddr }}<br>
  Access_Route : {{ accessRoute }}<br>
  <hr>
  environ(WSGI environment)<br>
  {% for item in environ %}
    {{ item }}  <br>
  {% endfor %}
  <hr>
  HTTP Headers<br>
  {% for item in headers %}
    {{ item[0] }} : {{ item[1:] }}  <br>
  {% endfor %}
</body>
</html>
